---
import CredentialCard from "@/components/events/devfest-25/CredentialCard"
import Header from "@/components/events/devfest-25/Header.astro"

import BaseLayout from "@/layout/BaseLayout.astro";

import { getProfile } from "@/lib/services/profileService";
import { getEventRegistration } from "@/lib/services/registrationService";
import { createUserClient } from "@/lib/supabase";

const supabase = await createUserClient(Astro.cookies);
const profile = await getProfile(supabase);
if (!profile) return Astro.redirect("/");

const registration = await getEventRegistration(
  supabase,
  profile?.id,
  Astro.params.eventSlug || ""
);
if (!registration) return Astro.redirect("/");

if (registration?.status !== "confirmed")
  return Astro.redirect(`/registro/${Astro.params.eventSlug}`);
---

<BaseLayout theme="dark">
  <Header />
  <main class="mt-16 pt-12 flex">
    <div class="mx-auto px-4">
      <CredentialCard
        client:load
        avatarUrl={profile.avatar_url}
        firstName={profile.first_name}
        lastName={profile.last_name}
        role={registration.role || "Participante"}
        handle={profile.email}
        enableTilt={true}
        enableMobileTilt={false}
        innerGradient={"/events/devfest-25/bg-credential.svg"}
      />
    </div>
  </main>
</BaseLayout>
