---
import Header from "@/components/Header.astro"
import ProfileCard from "@/components/io-extended-25/ProfileCard"

import BaseLayout from "@/layout/BaseLayout.astro"

import { getProfile } from "@/lib/services/profileService"
import { getEventRegistration } from "@/lib/services/registrationService"
import { createUserClient } from "@/lib/supabase"

const supabase = await createUserClient(Astro.cookies)
const profile = await getProfile(supabase)
if (!profile) return Astro.redirect("/")

const registration = await getEventRegistration(supabase, profile?.id, Astro.params.eventSlug || "")
if (!registration) return Astro.redirect("/")

if (registration.status !== "confirmed")
  return Astro.redirect(`/registro/${Astro.params.eventSlug}`)
---

<BaseLayout>
  <Header />
  <main class="mt-16 pt-12 flex">
    <div class="mx-auto px-4">
      <ProfileCard
        client:load
        firstName={profile.first_name}
        lastName={profile.last_name}
        title={registration.role || "Participante"}
        handle={profile.email}
        avatarUrl={profile.avatar_url}
        enableTilt={true}
        enableMobileTilt={false}
        iconUrl="/favicon.svg"
        grainUrl="/grain.webp"
      />
    </div>
  </main>
</BaseLayout>
