---
import { Image } from "astro:assets"

import DevFest25Logo from "@/assets/events/devfest-25/DevFest25logo.svg"
import Gemini from "@/assets/events/devfest-25/packages/KitGemini.webp"
import Nano from "@/assets/events/devfest-25/packages/KitNano.webp"
import CalendarIcon from "@/assets/logos/calendar-month.svg"
import LocationIcon from "@/assets/logos/distance.svg"

import { Timer } from "@/components/events/devfest-25/Timer"
import CTALink from "./CTALink.astro"

const packages = [
  { src: Nano, alt: "Kit Nano" },
  { src: Gemini, alt: "Kit Gemini" },
]

const redirectHref = Astro.cookies.has("sb-access-token")
  ? "/registro/devfest-25"
  : "/api/auth/signin?next=/registro/devfest-25"

const eventTitle = "DevFest Sucre 2025"
const eventLocation = "Regimiento Campos 6 de Infantería 180, Sucre"
const eventDescription = "DevFest Sucre 2025"

const eventStart = new Date("2025-11-15T08:00:00-04:00")
const eventEnd = new Date("2025-11-15T18:00:00-04:00")

const formatDateForCalendar = (date: Date): string =>
  date
    .toISOString()
    .replace(/[-:]/g, "")
    .replace(/\.\d{3}Z$/, "Z")

const gcalMobileIntent =
  `intent://create` +
  `?text=${encodeURIComponent(eventTitle)}` +
  `&dates=${formatDateForCalendar(eventStart)}/${formatDateForCalendar(eventEnd)}` +
  `&details=${encodeURIComponent(eventDescription)}` +
  `&location=${encodeURIComponent(eventLocation)}` +
  `#Intent;package=com.google.android.calendar;scheme=google.calendar;end;`

const googleCalendarUrl: string =
  `https://calendar.google.com/calendar/render?action=TEMPLATE` +
  `&text=${encodeURIComponent(eventTitle)}` +
  `&dates=${formatDateForCalendar(eventStart)}/${formatDateForCalendar(eventEnd)}` +
  `&location=${encodeURIComponent(eventLocation)}` +
  `&details=${encodeURIComponent(eventDescription)}`

const isMobile = /Android|iPhone|iPad|iPod/i.test(navigator.userAgent)

const calendarUrl = isMobile ? gcalMobileIntent : googleCalendarUrl

const targetDate = new Date("2025-11-15T08:00:00-04:00")
const initialTime = targetDate.getTime() - Date.now()

const mapsUrl = "https://maps.app.goo.gl/3PS7ysYJDmMUvNpg6"
---

<div class="w-full pt-32 py-8 flex flex-col gap-8 md:gap-8 items-center bg-[#232323] text-white">
  <div class="w-72 md:w-96 lg:w-2xl">
    <DevFest25Logo />
  </div>

  <p class="font-medium text-center px-4 max-w-xl md:text-xl">
    Únete a desarrolladores, diseñadores y entusiastas de la tecnología en la conferencia tecnológica
    más importante de la región.
  </p>

  <div
    class="text-xl bg-linear-to-b from-red-500 to-red-700 flex items-center justify-center px-8 md:px-14 py-3 md:py-3.5 rounded-full text-white font-semibold hover:bg-red-500 transition-colors"
  >
    <CTALink />
  </div>

  <div>
    <Timer initialTime={initialTime} targetDate={targetDate} client:load />
  </div>

  <div class="flex flex-col md:flex-row items-center md:items-start justify-center gap-4 md:gap-6">
    <a
      href={calendarUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-2 md:gap-3 cursor-pointer hover:text-red-500 hover:underline"
    >
      <div class="w-8 h-8 md:w-12 md:h-12 shrink-0 animate-soft-pulse">
        <CalendarIcon class="fill-current" />
      </div>
      <div
        class="flex flex-col justify-center text-base md:text-2xl text-center md:whitespace-pre font-medium"
      >
        <p class="block mb-0">Sábado, 15 de Noviembre</p>
        <p class="block">8:00 Hrs</p>
      </div>
    </a>

    <div class="hidden md:flex justify-center items-center h-10 w-[9px] text-[24px] font-semibold">
      <div class="border-2 border-white h-full mt-4"></div>
    </div>

    <a
      href={mapsUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-2 md:gap-3 hover:text-red-500 hover:underline"
    >
      <div class="w-8 h-8 md:w-12 md:h-12 shrink-0 animate-soft-pulse">
        <LocationIcon class="fill-current" />
      </div>
      <div
        class="flex flex-col justify-center leading-[1.2] text-[16px] md:text-[24px] text-center md:whitespace-pre font-medium"
      >
        <p class="block mb-0">Facultad de Ciencias</p>
        <p class="block">y Tecnología</p>
      </div>
    </a>
  </div>

  <h2 class="mt-4 text-3xl md:text-4xl font-bold">Paquetes disponibles</h2>
  <div class="mx-8 max-w-3xl grid gap-4 sm:grid-cols-2 lg:gap-8">
    {packages.map(({ src, alt }) => <Image class="rounded-2xl" src={src} alt={alt} />)}
  </div>
</div>
