---
import patrones from "@/assets/events/iwd-26/patrones.jpg"
import patrones2 from "@/assets/events/iwd-26/patrones_2.jpg"
import wtmBanner from "@/assets/wtm_banner.jpg"
import { Timer } from "@/components/events/iwd-26/Timer"

const eventDate = new Date("2026-03-07T08:00:00-04:00")
const initialTime = eventDate.getTime() - Date.now()
const isLoggedIn = Astro.cookies.has("sb-refresh-token")
const redirectHref = isLoggedIn ? "/registro/iwd-26" : "/api/auth/signin?next=/registro/iwd-26"
---

<section id="hero" class="relative w-full bg-white mt-20">
  <!-- Patrones arriba en mobile -->
  <div class="md:hidden w-full">
    <img src={patrones.src} alt="" class="w-full h-auto" />
  </div>

  <!-- Contenedor del hero en desktop -->
  <div class="md:flex md:items-center md:justify-center md:min-h-screen">
    <!-- Banner principal con contador -->
    <div class="w-full md:max-w-5xl lg:max-w-7xl flex flex-col">
      <img src={wtmBanner.src} alt="Women Techmakers Sucre 2026" class="w-full h-auto" />
      <!-- Boton de Registro -->
      <div class="flex items-center justify-center">
        <a
          href={redirectHref}
          class="bg-blue-500 flex items-center justify-center px-8 md:px-14 py-3 md:py-3.5 rounded-full text-white font-semibold text-[16px] md:text-[20px] tracking-[-0.1px] leading-6 md:leading-7 hover:bg-[#3367d6] transition-colors"
        >
          {isLoggedIn ? "Credencial" : "Regístrate ahora"}
        </a>
      </div>

      <!-- Contador -->
      <div class="w-full py-8 md:py-12 px-4 flex items-center justify-center bg-white">
        <Timer initialTime={initialTime} targetDate={eventDate} client:load />
      </div>
    </div>
  </div>

  <!-- Patrones abajo en mobile -->
  <div class="md:hidden w-full">
    <img src={patrones2.src} alt="" class="w-full h-auto" />
  </div>
</section>
